<div id="editRoomModal" class="modal fade">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Room</h4>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form
                    class="form-control needs-validation"
                    method="POST"
                    id="editRoomForm"
                    action=""
                    autocomplete="off"
                    novalidate
                >
                    <div class="mb-3">
                        <input type="hidden" id="editRoomID" name="room_id" />
                        <label for="addRoomSite" class="form-label">Site</label>
                        <select
                            class="form-control form-select siteInput"
                            aria-label="Select site"
                            name="site_id"
                            id="editRoomSite"
                            required
                        >
                            <!-- Options will be populated here -->
                        </select>
                        <div class="invalid-feedback">
                            Please select a site.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="addRoomBuildingCode" class="form-label"
                            >Building</label
                        >
                        <select
                            class="form-control form-select buildingInput"
                            aria-label="Select building"
                            id="editRoomBuildingCode"
                            name="building_id"
                            required
                        >
                            <option value="">Select a building...</option>
                            <!-- Other options will be populated here -->
                        </select>
                        <div class="invalid-feedback">
                            Please select a building.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="addRoomCode" class="form-label"
                            >Room Code</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="editRoomCode"
                            name="room_code"
                            pattern=".{1,100}"
                            required
                        />
                        <div class="invalid-feedback">
                            Please enter a room code (1-100 characters).
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>
                <button type="button" id="editRoomBtn" class="btn btn-primary">
                    Edit Room
                </button>
            </div>
        </div>
    </div>
</div>
