<div id="addInspectionModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Inspection</h4>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form
                    class="form-control needs-validation"
                    method="POST"
                    action="/api/inspection"
                    id="addInspectionForm"
                    autocomplete="off"
                    novalidate
                >
                    <input type="hidden" id="inspect_user_id" name="user_id" />
                    <input
                        type="hidden"
                        id="add_inspection_device_id"
                        name="device_id"
                    />
                    <div class="mb-3">
                        <label for="InspectionDate" class="form-label"
                            >Inspection Date</label
                        >
                        <input
                            type="date"
                            class="form-control"
                            id="InspectionDateInput"
                            name="inspection_date"
                            required
                        />
                        <div
                            class="invalid-feedback"
                            id="inspectionDateFeedback"
                        >
                            Please provide a inspection date.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="notes" class="form-label">Notes</label>
                        <textarea
                            class="form-control"
                            id="notes"
                            name="notes"
                            rows="3"
                        ></textarea>
                    </div>

                    <h4 class="mt-4 mb-3">Inspection Checklist</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-check mb-2">
                                <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="isConspicuous"
                                    name="isConspicuous"
                                />
                                <label
                                    class="form-check-label"
                                    for="isConspicuous"
                                    >Is Conspicuous</label
                                >
                            </div>
                            <div class="form-check mb-2">
                                <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="isAccessible"
                                    name="isAccessible"
                                />
                                <label
                                    class="form-check-label"
                                    for="isAccessible"
                                    >Is Accessible</label
                                >
                            </div>
                            <div class="form-check mb-2">
                                <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="isAssignedLocation"
                                    name="isAssignedLocation"
                                />
                                <label
                                    class="form-check-label"
                                    for="isAssignedLocation"
                                    >Is in Assigned Location</label
                                >
                            </div>
                            <div class="form-check mb-2">
                                <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="isSignVisible"
                                    name="isSignVisible"
                                />
                                <label
                                    class="form-check-label"
                                    for="isSignVisible"
                                    >Is Sign Visible</label
                                >
                            </div>
                            <div class="form-check mb-2">
                                <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="isAntiTamperDeviceIntact"
                                    name="isAntiTamperDeviceIntact"
                                />
                                <label
                                    class="form-check-label"
                                    for="isAntiTamperDeviceIntact"
                                    >Is Anti-Tamper Device Intact</label
                                >
                            </div>
                            <div class="form-check mb-2">
                                <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="isSupportBracketSecure"
                                    name="isSupportBracketSecure"
                                />
                                <label
                                    class="form-check-label"
                                    for="isSupportBracketSecure"
                                    >Is Support Bracket Secure</label
                                >
                            </div>
                            <div class="form-check mb-2">
                                <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="workOrderRequired"
                                    name="workOrderRequired"
                                />
                                <label
                                    class="form-check-label"
                                    for="workOrderRequired"
                                    >Work Order Required</label
                                >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-check mb-2">
                                <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="areOperatingInstructionsClear"
                                    name="areOperatingInstructionsClear"
                                />
                                <label
                                    class="form-check-label"
                                    for="areOperatingInstructionsClear"
                                    >Are Operating Instructions Clear</label
                                >
                            </div>
                            <div class="form-check mb-2">
                                <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="isMaintenanceTagAttached"
                                    name="isMaintenanceTagAttached"
                                />
                                <label
                                    class="form-check-label"
                                    for="isMaintenanceTagAttached"
                                    >Is Maintenance Tag Attached</label
                                >
                            </div>
                            <div class="form-check mb-2">
                                <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="isExternalDamagePresent"
                                    name="isExternalDamagePresent"
                                />
                                <label
                                    class="form-check-label"
                                    for="isExternalDamagePresent"
                                    >Is External Damage Present</label
                                >
                            </div>
                            <div class="form-check mb-2">
                                <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="isChargeGaugeNormal"
                                    name="isChargeGaugeNormal"
                                />
                                <label
                                    class="form-check-label"
                                    for="isChargeGaugeNormal"
                                    >Is Charge Gauge Normal</label
                                >
                            </div>
                            <div class="form-check mb-2">
                                <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="isReplaced"
                                    name="isReplaced"
                                />
                                <label class="form-check-label" for="isReplaced"
                                    >Is Replaced</label
                                >
                            </div>
                            <div class="form-check mb-2">
                                <input
                                    type="checkbox"
                                    class="form-check-input"
                                    id="areMaintenanceRecordsComplete"
                                    name="areMaintenanceRecordsComplete"
                                />
                                <label
                                    class="form-check-label"
                                    for="areMaintenanceRecordsComplete"
                                    >Are Maintenance Records Complete</label
                                >
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="inspectionStatus"
                                    >Inspection Status</label
                                >
                                <select
                                    class="form-control form-select"
                                    id="inspectionStatus"
                                    name="inspection_status"
                                    required
                                >
                                    <option disabled selected value="">
                                        Select a Status
                                    </option>
                                    <option value="Passed">Passed</option>
                                    <option value="Failed">Failed</option>
                                    <option value="In Progress">
                                        In Progress
                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    Please select an inspection status.
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-between">
                    <div>
                        <button
                            type="button mx-2"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                        >
                            Close
                        </button>
                    </div>
                    <button
                        type="button"
                        class="btn btn-primary mx-2"
                        id="addInspectionBtn"
                    >
                        Add Inspection
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
