<!-- View Inspections modal -->
<div id="viewInspectionModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div
                class="modal-header d-flex justify-content-between align-items-center"
            >
                <h4 id="inspectionModalTitle" class="modal-title">
                    Inspection List
                </h4>
                <button
                    type="button"
                    class="btn btn-success"
                    onclick="addInspection()"
                >
                    Add Inspection
                </button>
            </div>
            <div class="modal-body">
                <input
                    type="hidden"
                    id="inspect_device_id"
                    name="device_id"
                    value=""
                />
                <table class="table table-striped table-hover overflow-scroll">
                    <thead class="table-primary">
                        <tr>
                            <th data-label="Inspection Date">
                                Inspection Date
                            </th>
                            <th data-label="Inspector Name">Inspector Name</th>
                            <th data-label="Inspection Status">
                                Inspection Status
                            </th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="inspectionTable">
                        <!-- Inspections will be loaded here -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Close
                </button>
            </div>
        </div>
    </div>
</div>
