<div id="addSiteModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Site</h4>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form
                    class="form-control"
                    enctype="multipart/form-data"
                    method="POST"
                    action="/api/site"
                >
                    <div class="mb-3">
                        <label for="siteName" class="form-label"
                            >Site Name</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="siteName"
                            name="siteName"
                            placeholder="Enter Site Name"
                            required
                        />
                    </div>
                    <div class="mb-3">
                        <label for="siteAddress" class="form-label"
                            >Site Address</label
                        >
                        <input
                            type="text"
                            class="form-control"
                            id="siteAddress"
                            name="siteAddress"
                            placeholder="Enter Site Address"
                            required
                        />
                    </div>
                    <div class="mb-3">
                        <label for="siteMap" class="form-label">Site Map</label>
                        <input
                            type="file"
                            class="form-control"
                            id="siteMap"
                            name="siteMap"
                            accept="image/*"
                        />
                    </div>
                    <div id="imagePreviewContainer" style="display: none">
                        <h3>Image Preview:</h3>
                        <img
                            id="imagePreview"
                            style="
                                max-width: 100%;
                                max-height: 100%;
                                object-fit: contain;
                            "
                            alt="Site Map Preview"
                        />
                    </div>
                    <div class="modal-footer">
                        <button
                            type="button"
                            class="btn btn-secondary"
                            data-bs-dismiss="modal"
                        >
                            Close
                        </button>
                        <button type="submit" class="btn btn-primary">
                            Add Site
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
